<h2>Here are all the cool and Talented Artists</h2>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist %>
      <%= link_to artist_galleries_path(artist), class: "btn btn-primary" do %>
        View Galleries
      <% end %>
      <%= link_to artist_paintings_path(artist), class: "btn btn-primary" do %>
        View Paintings
      <% end %>
    </li>
  <% end %>
</ul>
