<h2>Art Paintings for <%= @artist.name %></h2>
<% @paintings.each do |painting| %>
  <div>
    <h3><%= painting.name %></h3>
    <p>Price: <%= painting.price %></p>
    <!-- Add any additional painting information you want to display here -->
  </div>
  <hr>
<% end %>
